@page "/Clock"
@using BlazorSelectList.Components.Clock

<div class="rvt-container-xl">
            <div class="rvt-row">
                <div class="rvt-cols-12">

<div class="rvt-card">
  <div class="rvt-card__body">
    <h2 class="rvt-card__title">
      Clock Component
    </h2>
    <div class="rvt-card__content rvt-m-bottom-md">
     <Clock />
    </div>
  </div>
</div>

</div>
</div>
</div>

